[package]
name = "openssl"
description = "TLS/SSL and crypto library"
homepage = "https://www.openssl.org"
license = "Apache-2.0"
tags = ["library", "crypto", "security"]

[discovery]
github = "openssl/openssl"
tag_pattern = "openssl-{{version}}"

[assets]
# Force build from source for all platforms
arm64-macos = { build = true }
x86_64-macos = { build = true }

[source]
# OpenSSL uses underscores in tags in some versions, but let's try standard GitHub archive first
# actually openssl tags are usually 'openssl-3.2.0'
url = "https://github.com/openssl/openssl/releases/download/openssl-{{version}}/openssl-{{version}}.tar.gz"
format = "tar.gz"

[build]
dependencies = []
# OpenSSL is notoriously picky. 
# We configure it to install into the Sysroot's $PREFIX.
script = """
./config --prefix=$PREFIX --openssldir=$PREFIX/ssl
make -j$JOBS
make install_sw
"""

[install]
bin = ["openssl"]
