[package]
name = "ruby"
description = "A dynamic, open source programming language with a focus on simplicity and productivity."
homepage = "https://www.ruby-lang.org"
license = "Ruby"
tags = ["language", "scripting", "web"]

[discovery]
github = "ruby/ruby"
# Ruby tags are usually v3_3_0
tag_pattern = "v{{version}}"

[assets]
arm64-macos = { build = true }
x86_64-macos = { build = true }

[source]
# Using cache.ruby-lang.org is more reliable than GitHub for tarballs
url = "https://cache.ruby-lang.org/pub/ruby/{{version_major}}.{{version_minor}}/ruby-{{version}}.tar.gz"
format = "tar.gz"

[build]
dependencies = ["openssl", "zlib", "libyaml", "readline"]
script = """
./configure --prefix=$PREFIX --with-openssl-dir=/deps/openssl --with-zlib-dir=/deps/zlib --with-libyaml-dir=/deps/libyaml --with-readline-dir=/deps/readline
make -j$JOBS
make install
"""

[install]
bin = ["ruby", "gem", "irb", "bundle"]
