name: Publish Index

on:
  push:
    branches: [ main ]
    paths:
      - 'packages/**'
      - 'src/core/index.rs'

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build apl
        run: cargo build --release

      - name: Generate Index
        run: target/release/apl generate-index packages index.bin

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          publish_branch: gh-pages
          keep_files: true
          include: "index.bin"
          exclude_assets: "**/*"
